# OS
.DS_Store
Thumbs.db

# Secrets / local env
.env
.env.local
*.key
*.pem

# Volumes
/data
/var
/tmp

# Certs
docker/certs/*.crt
docker/certs/*.key

# Projects (optional: if you prefer cloning elsewhere)
projects/*
!projects/.gitkeep

# Editors
.vscode/settings.json
.idea/

# Data
data/

# Generated Configuration
docker/nginx/conf.d/*.conf
!docker/nginx/conf.d/000-default.conf
docker/traefik/dynamic.yml
