services:
  traefik:
    image: traefik:v3.1
    container_name: devkit-traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./docker/traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - ./docker/certs:/certs:ro
    networks: [devnet]

  php84:
    build:
      context: ./docker/php/php-84
      dockerfile: Dockerfile
    container_name: devkit-php84
    volumes:
      - ./html:/var/www/html
      - ./projects:/var/www/projects
    networks: [devnet]

  php82:
    build:
      context: ./docker/php/php-82
      dockerfile: Dockerfile
    container_name: devkit-php82
    volumes:
      - ./html:/var/www/html
      - ./projects:/var/www/projects
    networks: [devnet]

  php74:
    build:
      context: ./docker/php/php-74
      dockerfile: Dockerfile
    container_name: devkit-php74
    volumes:
      - ./html:/var/www/html
      - ./projects:/var/www/projects
    networks: [devnet]

  php85:
    build:
      context: ./docker/php/php-85
      dockerfile: Dockerfile
    container_name: devkit-php85
    volumes:
      - ./html:/var/www/html
      - ./projects:/var/www/projects
    networks: [devnet]

  node:
    image: node:22-bullseye
    container_name: devkit-node
    working_dir: /workspace
    volumes:
      - ./:/workspace
    command: ["bash", "-lc", "node -v && npm -v && corepack --version && tail -f /dev/null"]
    networks: [devnet]

  redis:
    image: redis:7.4-alpine
    container_name: devkit-redis
    ports: ["${REDIS_PORT:-6379}:6379"]
    networks: [devnet]

  memcached:
    image: memcached:1.6-alpine
    container_name: devkit-memcached
    ports: ["${MEMCACHED_PORT:-11211}:11211"]
    networks: [devnet]

  mariadb:
    image: mariadb:11.4
    container_name: devkit-mariadb
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      - MARIADB_DATABASE=${DB_DATABASE}
      - MARIADB_USER=${DB_USERNAME}
      - MARIADB_PASSWORD=${DB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - TZ=Europe/Istanbul
    ports:
      - "3306:3306"
    volumes:
      - ./data/mariadb:/var/lib/mysql
    networks: [devnet]

  adminer:
    image: adminer:4
    container_name: devkit-adminer
    environment:
      - ADMINER_DEFAULT_SERVER=${DB_HOST}
    networks: [devnet]

  mailpit:
    image: axllent/mailpit:latest
    container_name: devkit-mailpit
    networks: [devnet]

  nginx:
    image: nginx:alpine
    container_name: devkit-nginx
    volumes:
      - ./html:/var/www/html:ro
      - ./projects:/var/www/projects:ro
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - php74
      - php82
      - php84
      - php85
    networks: [devnet]

networks:
  devnet:
    name: devkit-devnet
