tls:
  stores:
    default:
      defaultCertificate:
        certFile: /certs/devkit.crt
        keyFile: /certs/devkit.key

http:
  routers:
    # Traefik Dashboard
    traefik:
      entryPoints: ["web"]
      rule: "Host(`traefik.local.test`) || Host(`traefik.localhost`)"
      priority: 10
      service: "api@internal"
      middlewares: ["dashboard-enabled"]

    # Adminer
    adminer:
      entryPoints: ["web"]
      rule: "Host(`adminer.local.test`) || Host(`adminer.localhost`)"
      priority: 10
      service: "adminer"

    # Mailpit
    mailpit:
      entryPoints: ["web"]
      rule: "Host(`mailpit.local.test`) || Host(`mailpit.localhost`)"
      priority: 10
      service: "mailpit"

    # Projects (Nginx)
    projects:
      entryPoints: ["web"]
      rule: "HostRegexp(`^.+\\.local\\.test$`) || Host(`local.test`) || Host(`localhost`)"
      priority: 1
      service: "nginx"

  services:
    adminer:
      loadBalancer:
        servers:
          - url: "http://adminer:8080"
    mailpit:
      loadBalancer:
        servers:
          - url: "http://mailpit:8025"
    nginx:
      loadBalancer:
        servers:
          - url: "http://nginx:80"

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
    dashboard-enabled:
      chain:
        middlewares: []
